---
export const prerender = false;

import "../../styles/global.css";
import Layout from "../../layouts/Layout.astro";
import TopicList from "../../components/TopicList.astro";
import PostCard from "../../components/PostCard.astro";
import burgerheadAd from "../../assets/burgerheadAd.webp";
import wonderhoy from "../../assets/Absurd&Uncanny/Wonderhoy!.webp";
import spongebobBirthday from "../../assets/SpongebobBirthday.gif";
import meowl from "../../assets/Meowl.gif";
import { posts } from "../../data/posts.js";
import { topicSlugMap } from "../../utils/topicSlugMap";

const { topic } = Astro.params;
// @ts-ignore
const originalTopic = topic ? topicSlugMap[topic] : null;

if (!originalTopic) {
  throw new Error(`Unknown topic: ${topic}`);
}

const filteredPosts = posts.filter(
  (post) => post.topic.toLowerCase() === originalTopic?.toLowerCase()
);
---

<Layout>
  <div class="flex gap-2 w-full relative">
    <div
      class="flex flex-col justify-center items-center gap-2 w-[248px] h-fit"
    >
      <a
        href="/"
        class="font-medium text-center w-full py-2.5 bg-gray-primary border-2 border-black active:bg-gray-300 cursor-pointer"
      >
        Back to Home
      </a>
      <TopicList />
      <div class="border-2 border-yellow-primary cursor-pointer">
        <img src={spongebobBirthday.src} alt="image" />
      </div>
      <div class="border-2 border-pink-primary cursor-pointer">
        <img src={wonderhoy.src} alt="image" />
      </div>
      <div class="border-2 border-brown-secondary cursor-pointer">
        <img src={burgerheadAd.src} alt="image" />
      </div>
      <div class="border-2 border-darkgreen-primary cursor-pointer">
        <img src={meowl.src} alt="image" />
      </div>
    </div>
    <div class="flex flex-col items-center gap-2 w-full">
      <div
        class="flex justify-center items-center gap-4 w-full px-5 py-4 bg-yellow-primary"
      >
        <h3 class="font-bold font-serif text-xl text-red-primary">Warning!</h3>
        <p class="font-medium text-sm">
          Recently, many users have uploaded contents that is not suitable for
          all ages. We expect user discretion in viewing posts on this website.
        </p>
      </div>
      <h2 class="font-bold font-serif text-2xl">
        All Posts From {originalTopic}
      </h2>
      {filteredPosts.map((post) => <PostCard post={post} />)}
    </div>
  </div>
</Layout>
